<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="sampleSuite" thread-count="2" parallel="tests">
  <test name="ModuleOneTest">
 <classes>
      <class name="parallelScrips.sampleTestOne"/>
     </classes>
     </test>
     <test name="ModuleTwoTest">
 <classes>
      <class name="parallelScrips.sampleTestTwo"/>
     </classes>
     </test>
     <test name="ModuleThreeTest">
 <classes>
      <class name="parallelScrips.sampleTestThree"/>
     </classes>
     
  </test> <!-- sampleTest -->
</suite> <!-- sampleSuite -->
